In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [6]:
# inport vsv data into pandas
ha_measure = "hawaii_measurements.csv"
ha_stations = "hawaii_stations.csv"

hawaii_data1 = pd.read_csv(ha_measure)
hawaii_data2 = pd.read_csv(ha_stations)

In [7]:
hawaii_data1.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [8]:
hawaii_data2.head()

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0
3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6

In [40]:
hawaii_full_df = pd.merge(hawaii_data1, hawaii_data, on='station')
hawaii_full_df.head(20)

,station,date,prcp,tobs,name,latitude,longitude,elevation
0,USC00519397,2010-01-01,0.08,65,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,USC00519397,2010-01-02,0.00,63,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
2,USC00519397,2010-01-03,0.00,74,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
3,USC00519397,2010-01-04,0.00,76,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
4,USC00519397,2010-01-06,NaN,73,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
5,USC00519397,2010-01-07,0.06,70,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
6,USC00519397,2010-01-08,0.00,64,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
7,USC00519397,2010-01-09,0.00,68,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
8,USC00519397,2010-01-10,0.00,73,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
9,USC00519397,2010-01-11,0.01,64,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
10,USC00519397,2010-01-12,0.00,61,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
11,USC00519397,2010-01-14,0.00,66,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
12,USC00519397,2010-01-15,0.00,65,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
13,USC00519397,2010-01-16,0.00,68,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
14,USC00519397,2010-01-17,0.00,64,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
15,USC00519397,2010-01-18,0.00,72,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
16,USC00519397,2010-01-19,0.00,66,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
17,USC00519397,2010-01-20,0.00,66,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
18,USC00519397,2010-01-21,0.00,69,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
19,USC00519397,2010-01-22,0.00,67,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0

In [35]:
# hawaii_full_df.dropna(axis=, how='any')
newcleandf = hawaii_full_df[np.isfinite(hawaii_full_df['prcp'])]
print(newcleandf.isnull().sum())

station      0
date         0
prcp         0
tobs         0
name         0
latitude     0
longitude    0
elevation    0
dtype: int64

In [36]:
newcleandf
newcleandf.to_csv("clean_hawaii2.csv", encoding='utf-8')

In [41]:
newcleandf.head(10)

,station,date,prcp,tobs,name,latitude,longitude,elevation
0,USC00519397,2010-01-01,0.08,65,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,USC00519397,2010-01-02,0.00,63,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
2,USC00519397,2010-01-03,0.00,74,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
3,USC00519397,2010-01-04,0.00,76,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
5,USC00519397,2010-01-07,0.06,70,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
6,USC00519397,2010-01-08,0.00,64,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
7,USC00519397,2010-01-09,0.00,68,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
8,USC00519397,2010-01-10,0.00,73,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
9,USC00519397,2010-01-11,0.01,64,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
10,USC00519397,2010-01-12,0.00,61,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0